<!-- //Written by: Vaani Shukla
//Tested and Debugged by: Anvita Patel and Harika Matta -->

@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<p>
    The stock market is a place where businessmen could gain capital buy selling shares of their companies and where investors can purchase these shares in hope to make a profit when those companies prosper. Although the market still serves both these purposes, today it is judged less by what it does for businessmen seeking capital but rather for what it can do for investors seeking gain. The problem here lies with the fact that the volatility in the market that can be exploited for gain can be the cause for loss as well. As both amateur and knowledgeable investors, this is what worries as.
</p>
<p>For day-to-day trading, these risks are a major factor in keeping away new, eager yet unaccustomed, traders from the market. They lack the appropriate tools needed for the decision making process when compared to existing professional traders. This scenario is witnessed way to often and can range from the young wanting to have a steady stream of capital without the need to invest in a part time job whilst also being a full time student or even the old who are well established into life attempting to save up for retirement. In both of these cases, these are individuals who would gladly consider trading stocks but many a times shift away from the idea due to the lack of time, recourses, and knowledge in the field.
	</p>
<p>We came up with a Stock Forecaster tool to decrease the risk and increase the confidence of the investors. Our tool predicts the market trends for long-term scenarios and stock price for short-term scenarios. A long-term predictor acts like a virtual mentor to the investor and tells them whether to buy or sell the stock. A short term predictor predicts the stock price so the investor can plan their transaction for  a particular day end or a particular day start.
	</p>
<p>It analyzes data for stock market prediction using Support Vector Machines (SVM) for long term gains and Bayesian Curve Fitting for short term market gains to earn quick money. SVM makes comprehensive and thorough long term prediction using historical data collected over a period of 1 year. Bayesian Curve Fitting makes short term prediction using the closing price of data collected over past 10 days.</p>
<p>We also have graphs available for the investor to analyze the market trends over a period of time and this would certainly help a user to invest in the right stocks.</p>
<p>The main and absolute purpose of this tool is to make your investments follow the right path, your profits increase and your losses diminish. We hope to make a difference in your investment plans. For any other questions, do not forget to visit the Queries page and if you still have doubts, feel free to Contact Us.</p>


<center><p>HAPPY INVESTING!!!</p></center>
