<!-- //Written by: Anvita Patel and Harika Matta
//Tested and Debugged by: Anvita Patel and Harika Matta -->

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<h3>
    <strong>Anvita Patel :</strong>   <a>anvita.patel@rutgers.edu</a>
    <p></p>
    <strong>Harika Matta :</strong> <a>harika.matta@rutgers.edu</a>
    <p></p>
    <strong>Anagha Chavan :</strong>   <a>anagha.chavan@rutgers.edu</a>
    <p></p>
    <strong>Raghavi Raghuraman :</strong>   <a>raghavi.raghuraman@rutgers.edu</a>
    <p></p>
    <strong>Vaani Shukla :</strong>   <a>vaani.shukla@rutgers.edu</a>
    
</h3>