<!-- //Written by: Anvita Patel and Harika Matta
//Tested and Debugged by: Anvita Patel and Harika Matta -->

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><b>Stock Forecaster</b></h1>
</div>

<div class="row">
   <!-- <div class="col-lg-7">-->
        <h2>Looking for quick money? </h2>
        <p>
            You’re just few clicks away!
Explore this stop and make use of our interactive features. Get the latest stock prices and get stock predictions to make smart investment decisions. Choose your options wisely and make use of our suggestions. Visualize the movement of latest stock price compared to its behavior in a year or month with interactive graphs.
Register to get most out of it. Log in with Gmail and don’t forget to like us on Facebook.

        </p>
        <p><a class="btn btn-default" onclick="location.href='https://localhost:44300/Home/About'">Learn more &raquo;</a></p>
   <!-- </div>-->
</div>
