<!-- //Written by: Anvita Patel and Harika Matta
//Tested and Debugged by: Anvita Patel and Harika Matta -->


<style type="text/css">
    .btn-lg {
        width: 1500px;
    }
</style>
@{
    ViewBag.Title = "Choose One!";
}
<center><h2>@ViewBag.Title</h2></center>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
<center>
     <form action="~/WebForm1.aspx"> <input class="btn btn-primary btn-lg" type="submit" value="Get Quotes" /> </form>              
</center>
    <p></p>
    <p></p>
    <center>
        <form action="~/WebForm2.aspx"> <input class="btn btn-primary btn-lg" type="submit" value="Short Term Prediction" /> </form>
        </center>
    <p></p>
    <p></p>
    <center>
        <form action="~/WebForm3.aspx"> <input class="btn btn-primary btn-lg" type="submit" value="Long Term Prediction" /> </form>
    </center>
    <p></p>
    <p></p>
    <center>
        <form action="~/WebForm4.aspx"> <input class="btn btn-primary btn-lg" type="submit" value="Get Graph" /> </form>
    </center>
    <p></p>
    <p></p>
    <center>
        <form action="~/WebForm5.aspx"> <input class="btn btn-primary btn-lg" type="submit" value="Trending" /> </form>
    </center>
</body>
</html>