<!-- //Written by: Anvita Patel and Harika Matta
//Tested and Debugged by: Anvita Patel and Harika Matta -->

<style type="text/css">
    .btn-lg {
        width: 1500px;
    }
</style>

@{
    ViewBag.Title = "Query? We have answers!";
}
<h2>@ViewBag.Title</h2>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <center>
        <form action="~/Query1.aspx"> <input class="btn btn-primary btn-lg" type="submit" value="Latest stock price" /> </form>
    </center>
    <p></p>
    <p></p>
    <center>
        <form action="~/Query2.aspx"> <input class="btn btn-primary btn-lg" type="submit" value="Highest stock price of Google" /> </form>
    </center>
    <p></p>
    <p></p>
    <center>
        <form action="~/Query3.aspx"> <input class="btn btn-primary btn-lg" type="submit" value="Average stock of Microsoft" /> </form>
    </center>
    <p></p>
    <p></p>
    <center>
        <form action="~/Query4.aspx"> <input class="btn btn-primary btn-lg" type="submit" value="Lowest stock price" /> </form>
    </center>
    <p></p>
    <p></p>
    <center>
        <form action="~/Query5.aspx"> <input class="btn btn-primary btn-lg" type="submit" value="Companies < Google" /> </form>
    </center>
</body>
</html>
